.productsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.image{
    width: 200px;
    height: 200px;
}

.title{
    width: 150px;
    margin-bottom: 25px;
    text-align: center;
}